@model AbrirAccountViewModel

@{
    Layout = "_Layout";
    ViewBag.Titulo = "Abertura de Account";
}

<hr />
<div class="row justify-content-center my-5">
    <div class="col-md-8">
        <div class="card rounded-4 border-0">
            <div class="card-body p-md-5">
                <form asp-action="Abrir">
                    <h3>Formulário de Abertura de Account</h3>

                    @if (ViewData.ModelState["CadastroUnico"]?.Errors.Count > 0)
                    {
                        <div class="alert alert-danger alert-dismissible fade show my-3" role="alert">
                            @ViewData.ModelState["CadastroUnico"]!.Errors.First().ErrorMessage
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }

                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="Owner" class="control-label fs-5">Owner:</label>
                        <input asp-for="Owner" class="form-control" />
                        <span asp-validation-for="Owner" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="TableId" class="control-label fs-5">Table:</label>
                        <select asp-for="TableId" asp-items="@Model.TablesDisponiveis" class="form-select"></select>
                        <span asp-validation-for="TableId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-grid gap-2 mt-3">
                        <label asp-for="WaiterId" class="control-label fs-5">Waiter:</label>
                        <select asp-for="WaiterId" asp-items="@Model.WaitersDisponiveis" class="form-select"></select>
                        <span asp-validation-for="WaiterId" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex align-items-center justify-content-end gap-3 mt-5">
                        <a href="/accounts">Voltar para a listagem</a>
                        <button type="submit" class="btn btn-primary rounded-3 px-5">Confirmar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}